{{#extends 'base'}}
    {{#block 'content'}}
    <div class="container-fluid">
        <div>
            <h1 style="display:inline-block">Order Id: {{this.orderId}}</h1> 
            <h5 style="margin-left:10px;margin-top:15px">{{this.label}}</h5>
            <h6>
                <div style="margin-left:20px;margin-top:5px;font-size:smaller;font-style:italic">
                    Order Date: {{#moment}}
                    '{{this.datetime_created}}' format='YYYY-MM-DD'
                    {{/moment}}
                </div>
                <div style="margin-left:20px;font-size:smaller;font-style:italic">
                    Last Modified: {{#moment}}
                    '{{this.datetime_created}}' format=''
                    {{/moment}}
                </div>   
            </h6>
        </div>
        <div class="my-3" style="margin-left:10px;margin-right:10px">
            <form method="POST">
                {{{form}}}
            <input type="hidden" value="{{csrfToken}}" name="_csrf"/>
                <input type="submit" class="btn btn-primary my-3"/>
            </form>
        </div>
         <table class="table">
            <thead>
                <tr>
                    <th>Order Item Id</th>
                    <th>Brand Id</th>
                    <th>Brand Name</th>
                    <th>Tea Id</th>
                    <th>Tea Name</th>
                    <th>Cost ($)</th>
                    <th>Weight (g)</th>
                    <th>Quantity</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each orderItemsArray}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.teaBrandId}}</td>
                    <td>{{this.teaBrand}}</td>
                    <td>{{this.teaId}}</td>
                    <td>{{this.teaName}}</td>
                    <td>{{divide this.teaCost 100}}</td>
                    <td>{{this.teaWeight}}</td>
                    <td>{{this.quantity}}</td>
                    {{#if this.teaImage}}
                    <td><img src="{{this.teaImage}}" style="height:150px;max-width:180px;object-fit:cover"/></td>
                    {{else}}
                    <td></td>
                    {{/if}}
                    <td></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{/block}}
{{/extends}}