{{#extends 'base'}}
    {{#block 'content'}}
    <div class="container-fluid">
        <div>
            <h1 style="display:inline-block">Manage Dashboard</h1>
        </div>
        <div style="margin-top:30px;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/brand">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/taste-profile">Taste Profiles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/place-of-origin">Place of Origins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shipping-method">Shipping Methods</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid" style="margin-top:30px;">
            <h3>{{#each brand}}{{this.name}}{{/each}}</h3>
            <form method="POST" style="width:20vw;display:inline-block">
                {{{form}}}
                <input type="hidden" value="{{csrfToken}}" name="_csrf"/>
                <input type="submit" class="btn btn-primary my-3" style="display:inline-block;"/>
                <a href="/brand" class="btn btn-danger my-3">Cancel</a>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Brand Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each brands}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>

                    <td>
                        <a href="/brand/edit/{{this.id}}" class="btn btn-primary btn-sm ">Edit</a>
                        <a href="/brand/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>                
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    {{/block}}
{{/extends}}